/* .landing-page {
    background: url(../images/backgrounds/concrete_wall.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} */

/* .landing-page {
    background: url(../images/backgrounds/gray_scratched.jpg);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
} */

.landing-page {
    background-image: radial-gradient(circle at center center, rgba(33,33,33,0),
    rgb(33,33,33)),repeating-linear-gradient(135deg, rgb(33,33,33) 0px, rgb(33,33,33) 1px,
    transparent 1px, transparent 4px),repeating-linear-gradient(45deg, rgb(56,56,56) 0px, rgb(56,56,56) 5px,
    transparent 5px, transparent 6px),linear-gradient(90deg, rgb(33,33,33),rgb(33,33,33));
}

/* For some reason background-image for gradients is not applying to page while background-images with jpg does */
/* I will temporarily change to images and hope to figure out this odd behavior later */
.about-page {
    background: url(../images/backgrounds/paper_grain.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.projects-page {
    background: url(../images/backgrounds/blue_purple.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.games-page {
    background: url(../images/backgrounds/green_chalk.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.skills-page {
    background: url(../images/backgrounds/white_gray.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    flex-direction: column;
    gap: 10vh;
}

.projects-content {
    gap: 3vh;
}

.heading-container > * {
    text-align: center;
    color: orangered;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 3px 3px 0px rgba(0,0,0,0.2)
}

.projects-heading > * {
    text-align: center;
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 3px 3px 0px rgba(0,0,0,0.2)
}

.nav-container {
    display: grid;
    grid-template: 100px / repeat(4, 150px);
    gap: 6vh;
}

.projects-container, .about-container,
.games-conatiner, .skills-container {
    grid-template: 50px / repeat(4, 110px);
    gap: 4vh;
    min-height: 10vh;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    border: groove 8px orangered;
    border-radius: 1em;
    /*background-color: #666666;*/
    text-align: center;
    box-shadow: 10px 5px 5px black;
    font-size: 20pt;
}

.projects-bar {
    font-size: 15pt;
    border: groove 5px gray;
}

#nav-games, #nav-projects, #nav-landing {
    color: whitesmoke;
}

/* Page backgrounds */
.about {
    background-image: url(../images/thumbnails/paper_grain_thumb.jpg);
    background-size: cover;
}

.projects {
    background-image: url(../images/thumbnails/blue_purple_thumb.jpg);
    background-size: cover;
}

.games {
    background-image: url(../images/thumbnails/green_chalk_thumb.jpg);
    background-size: cover;
}

.skills {
    background-image: url(../images/thumbnails/white_gray_thumb.jpg);
    background-size: cover;
}



.landing {
    background-image: radial-gradient(circle at center center, rgba(33,33,33,0),
    rgb(33,33,33)),repeating-linear-gradient(135deg, rgb(33,33,33) 0px, rgb(33,33,33) 1px,
    transparent 1px, transparent 4px),repeating-linear-gradient(45deg, rgb(56,56,56) 0px, rgb(56,56,56) 5px,
    transparent 5px, transparent 6px),linear-gradient(90deg, rgb(33,33,33),rgb(33,33,33));
}

/* Project page specific */
.project-links {
    display: grid;
    grid-template: repeat(4, 60px) / 50vh;
    gap: 25px;
}

.p-title {
    display: flex;
    background-color: gray;
    border: groove 3px gray;
    border-radius: 15px;
    box-shadow: 10px 5px 5px black;
    padding-left: 15px;
    font-size: 15pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
    align-items: center;
    background-image: url(../images/thumbnails/white_gray_thumb.jpg);
}

/* .p-link {
    font-size: 12pt;
} */

/* Handles animation underlining links during hover */
a {
    position: relative;
    color: #000;
    text-decoration: none;
}

/* a:hover {
    color: #000
} */

a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(233, 3, 3);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

a:hover::before {
    transform: scaleX(1);
}

.black-text {
    position: relative;
    color: #000;
    text-decoration: none;
}

.black-text::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.black-text:hover::before {
    transform: scaleX(1);
}

.white-text {
    position: relative;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.white-text::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.white-text:hover::before {
    transform: scaleX(1);
}